.menu-content{
      display: none;
      background-color: white;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      padding: 5px 0px;
      position: absolute;
      top: 100%;
      top: calc(100% - 25px);
      right: 100%;
      right: calc(50% - 45px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      text-wrap: nowrap;
      z-index: 2 !important;
}
.menu-content>hr{
      border: none;
      border-bottom: 1px solid rgb(216, 213, 213);
}

#menu_img{
      height: 25px;
      width: 25px;
}
.menu-content>div>button{
      display: flex;
      background-color: transparent;
      border: none;
      outline: none;
      align-items: center;
      gap: 15px;
      padding: 9px 15px;
      font-size: 1rem;
}
.menu-content>div:hover{
      background-color: rgb(249, 248, 248);
}
.menu-button-container-d{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 2;
}
#menu-btn {
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      transition: transform 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
  }

#menu-btn::before {
      content: '';
      position: absolute;
      top: 48%;
      left: 47%;
      width: 50px;
      height: 50px;
      background-color:#F0EBF8;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.3s ease;
      z-index: -1;
  }
#menu-btn:hover::before,
#menu-btn:focus::before {
    transform: translate(-50%, -50%) scale(1.01);
}

#menu-btn:hover + .hover-text,
#menu-btn:focus + .hover-text {
      opacity: 1;
      z-index: 1;
  }
#menu-btn::before {
      content: '';
      position: absolute;
      top: 48%;
      left: 47%;
      width: 50px;
      height: 50px;
      background-color:#F0EBF8;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0.3s ease;
      z-index: -1;
  }